* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --gold: #BDAE82;
  --black: #000000;
  --silver: #c0c0c0;
  --bl-trans: #bdae826e;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, black), to(#BDAE82)) top left/contain no-repeat;
  background: linear-gradient(black 60%, #BDAE82) top left/contain no-repeat;
}

.container {
  max-width: 2100px;
  height: 100%;
  padding: 5% 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.title {
  font: 400 120px/130px 'Quintessential';
  color: var(--gold);
  margin-bottom: 50px;
}

.player-wrapper {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--gold);
}

.player {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.player__video {
  width: 100%;
}

.player__setting {
  font: 400 16px/16px 'Verdana';
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--gold);
}

.player .slider-volume {
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(var(--gold)), color-stop(20%, var(--gold)), color-stop(20%, var(--bl-trans)), to(var(--bl-trans)));
  background: linear-gradient(to right, var(--gold) 0%, var(--gold) 20%, var(--bl-trans) 20%, var(--bl-trans) 100%);
  border-radius: 10px;
  height: 7px;
  width: 40%;
  border: 1px solid var(--gold);
}

.player .slider-speed {
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(var(--gold)), color-stop(50%, var(--gold)), color-stop(50%, var(--bl-trans)), to(var(--bl-trans)));
  background: linear-gradient(to right, var(--gold) 0%, var(--gold) 50%, var(--bl-trans) 50%, var(--bl-trans) 100%);
  border-radius: 10px;
  height: 7px;
  width: 30%;
  border: 1px solid var(--gold);
}

.player .slider-volume::-webkit-slider-thumb,
.player .slider-speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: var(--gold);
}

.player__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: url(../assets/svg/play-btn.svg) center center/contain no-repeat;
  width: 100px;
  height: 100px;
}

.player__btn-play._paused {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.player__btn-play:hover {
  width: 120px;
  height: 120px;
}

.player__control {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.472);
  width: 100%;
  bottom: -55px;
  left: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.player__control._open {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
}

.player__control._open .progress__filled:after {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 5;
  content: '';
  background-color: #BDAE82;
  width: 20px;
  height: 20px;
  border-radius: 25%;
  cursor: ew-resize;
}

.player__button-play {
  color: var(--gold);
  font-size: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 5%;
}

.player__button-play:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.player__button-vol {
  color: var(--gold);
  font-size: 30px;
  width: 5%;
  text-align: start;
}

.player .label-speed {
  width: 10%;
}

.player .progress {
  background-color: var(--bl-trans);
  width: 100%;
}

.player .progress__filled {
  position: relative;
  background-color: #BDAE82;
  height: 10px;
  width: 0%;
}
